* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
}
.first {
  background: #1c1e20;
  color: white;
  height: 120vh;
  overflow: hidden;
}
.second {
  background: #1c1e20;
  color: white;
  height: auto;
}
.navbar {
  height: 70px !important;
}
.nav-item {
  margin: 0 1.5em 0 0;
  font-size: 17px;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: white !important;
  font-weight: 600;
}
#navlinks:hover {
  color: #6f7879 !important;
}
.dropdown-menu {
  display: none;
}
.dropdown:hover > .dropdown-menu {
  display: flex;
  justify-content: space-around;
  width: 30em;
  height: 4em;
  position: absolute;
  background: white;
  color: black;
  top: 150%;
}
.dropdown-toggle::after {
  display: none;
}
.mr-auto {
  margin-right: 6em !important;
}
.mt-5,
.mb-5,
.my-5 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}
.bg-light {
  background-color: transparent;
}
.line::after {
  background: #494b4d;
  content: "";
  height: 50%;
  margin: 0 0 0 0.5em;
  position: absolute;
  transform: translateY(-50%);
  width: 1px;
}
.bag {
  background-image: url(images/icons.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -75px -19866px;
  height: 24px;
  width: 24px;
  margin-left: 1em;
}
.btn-outline-success {
  color: white;
  padding: 2px 20px;
  height: 40px;
  line-height: 24px;
  font-size: 15px;
  min-width: 40px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-weight: 600;
  width: auto;
}
.btn-outline-success:hover {
  background-color: white;
  color: black;
  border: none;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 5em;
}
.header-img {
  max-width: 650px;
  position: relative;
}
.left {
  left: -13.5em;
}
.right {
  right: -13em;
  overflow: hidden;
}
.header div {
  align-items: flex-start;
  color: white;
}
#svg-img {
  margin: 0 auto;
  max-width: 700px;
  position: relative;
  z-index: 1;
  top: -25em;
  text-align: center;
}
h1 {
  font-size: 60px;
  line-height: 70px;
}
#hero-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 850px;
  position: relative;
  top: -20em;
  text-align: left;
}
.occulus-h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 20px;
}
.occulus-p {
  font-size: 18px;
  margin-bottom: 1.7em;
  color: #6f7879;
}
#occulus-a {
  box-sizing: content-box;
  border: 2px solid #1c1e20;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
  min-width: 48px;
  padding: 12px 40px;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  color: white;
}
#occulus-a:hover {
  background-color: #148aff;
}
.container {
  max-width: 90%;
}
.cardtext {
  margin: 1.5em auto;
  text-align: center;
  max-width: 780px;
  padding: 1em 5em;
}
.cardtext h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 50px;
}
.paragraph {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
}
.card-text1 {
  max-width: 800px;
  left: 50em;
  top: 4em;
}
.card-text1 p {
  color: #999999;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
}
.card-text1 h2 {
  font-size: 40px;
  font-style: italic;
  letter-spacing: -1px;
  line-height: 44px;
  margin-bottom: 1em;
}
.card-text1 h6 {
  display: inline-block;
  margin-left: 10px;
  font-size: 1em;
  font-weight: 400;
}
.icon {
  width: 29px;
  height: 29px;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  background: transparent;
  border: 2px solid #575758;
}
.icon1 {
  font-size: 2em;
  width: 1.7em;
  height: 1.7em;
  margin: 0 0 0 0.3em;
}
.fas {
  font-size: 0.7em;
  padding: 0 0.9em 6em 0.9em;
}
.basisChevronCircleRight {
  background-image: url("images/icons.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -17134px;
  height: 32px;
  width: 32px;
  display: inline-block;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  overflow: hidden;
  vertical-align: middle;
}
#cont1:hover {
  background-color: #148aff;
  border: 2px solid #148aff;
}
.card-title {
  color: #c8c7c6;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 0.3em !important;
}
.card-text {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 0.9em !important;
  line-height: 33px;
}
.card-t {
  top: 22em;
  left: 0.5em;
}
/* [1] The container */
.img-hover-zoom {
  overflow: hidden;
  border-radius: 0 !important;
}
/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform 0.8s ease-in-out;
}
/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.18);
}
#third {
  padding: 10%;
}
.card {
  background-position: center 8px !important;
}
#text-fluid {
  top: -15em;
}
.card12 h2 {
  font-size: 60px;
  line-height: 62px;
  letter-spacing: -0.5px;
}
.c3 {
  margin-top: 1.2em;
}
.col-sm-6 {
  padding-right: 6px !important;
}
#learn-more {
  text-align: center;
}
.learn-more {
  color: #1574d4;
  font-size: 15px;
  font-weight: 500;
  margin-right: 0.5em;
}
#icon-4 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid #565657;
  display: inline-block;
}
#icon-4:hover {
  background: #148aff;
  border: 2px solid #148aff;
  transition: 0.6s ease-in-out;
}
.span1 {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.5em;
}
.svg1:hover {
  background: #148aff;
  border-color: #148aff;
  transition: 0.6s ease-in-out;
}
.svg1 {
  fill: #fff;
}
.svg1 {
  border-color: rgba(255, 255, 255, 0.3);
}
svg:not(:root) {
  overflow: hidden;
}
.svg1 {
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: all 0.33s ease-in;
}
.svg2 {
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  height: 42px;
  padding: 12px;
  width: 42px;
}
polygon {
  fill: #fff;
}
.text-center h2 {
  font-size: 60px;
  font-weight: 700;
  line-height: 62px;
  margin-top: 3.5em;
}
#section-5 {
  background: #e2e2e2;
}
#section-5 h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 0.5rem;
  color: #1c1e20;
}
#section-5 p {
  font-size: 18px;
  line-height: 24px;
  color: #777879;
  font-weight: 500;
}
.cardbody {
  margin: 4.5em 2em;
}
input[type="text"] {
  background: transparent;
  border: 2px solid #999;
  border-radius: 0;
  padding: 4px 8px;
  box-sizing: border-box;
  color: #323436;
  display: block;
  font-family: BasisGrotesquePro, sans-serif;
  font-size: 15px;
  height: 44px;
  line-height: 24px;
  transition: color 250ms, border-color 250ms;
  width: 70%;
}
input:focus {
  border-color: #777879;
  color: #1c1e20;
  outline: none;
  transition: none;
}
.input-icons i {
  position: absolute;
}
.input-icons {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.icn {
  padding: 0.85em 0 0 0;
  color: #a5a6a7;
  min-width: 50px;
  text-align: right;
  left: 23em;
  font-size: 1em;
}
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}
h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  color: #1c1e20;
  margin-bottom: 2em;
}
.section7 h6 {
  margin-bottom: 1.1rem;
  font-size: 15px;
  font-weight: 700;
}
.section7 p {
  color: #1c1e20;
  text-decoration: none;
  font-weight: 700;
}
/* .section7 p:hover {
  text-decoration: none !important;
} */
.section7 span {
  color: #777879;
  margin-top: 8px;
  font-weight: 500;
}
.section7 .card-body {
  margin-top: -1em;
  padding: 1.8rem 0 0;
}
.section7 .card {
  border: none;
  background-color: #f5f5f5;
}
.section8 {
  color: #777879;
  line-height: 24px;
  /* border-top: 1px solid #d9d9d9; */
  padding-left: 72px;
  padding-right: 72px;
  max-width: 1300px;
  margin: 0 auto;
  font-weight: 400;
  margin-bottom: 1em;
  margin-top: 1em;
  font-size: 13px;
}
.section8_1 {
  margin-bottom: 24px;
  margin-top: 24px;
  /* color: #777879; */
}
footer {
  background: #1c1e20;
  height: auto;
}
.flex-container {
  display: flex;
  justify-content: space-evenly;
}
.flex-items li {
  list-style-type: none;
}
.flex-items a {
  color: #a4a5a6 !important;
  font-size: 15px;
  line-height: 20px;
}
.flex-items a:hover {
  color: #148aff !important;
}
#first-flex-item {
  color: #fff !important;
}
#hr {
  background-color: #323436;
}
footer p {
  color: #a4a5a6;
}
#flex-items-end {
  width: 20%;
}
#flex-items-end p {
  font-size: 13px;
  line-height: 22px;
  color: #fff !important;
}
#flex-items-end a {
  font-size: 13px;
  line-height: 22px;
  color: #148aff !important;
}
.spn {
  position: relative;
  top: 2em;
}
.flex-items input {
  border: 3px solid #323436;
  display: flex;
  padding: 4px 8px;
  height: 3.5em;
  width: 18em;
}
input::placeholder {
  color: white !important;
}
#news-letter {
  color: #d2d2d2 !important;
  font-size: 14px !important;
  line-height: 24px !important;
  font-weight: 600;
  /* padding-bottom: 8px; */
}
#social-media i {
  font-size: 24px;
  margin: 0 0.3em;
  color: #a4a5a6;
}
#social-media i:hover {
  color: white !important;
}
.icns {
  position: relative;
  top: -3em;
  left: 12em;
}
#container {
  padding: 3em 0 0 5em;
}
.last {
  height: 5em;
  color: white;
}
.last .last1 {
  background-image: url(images/icons.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 0;
  float: left;
  height: 28px;
  margin-right: 24px;
  margin-top: 2px;
  width: 161px;
  color: white;
}
